html {
  font-family: "Digi";
  src: url("fonts/ds-digib.ttf");
  background-color: rgb(31, 38, 31);
  }
  
  h1 {
    text-align: center;
  }
  
  .display-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
    border: 5px solid;
    border-color: rgb(62, 66, 60);
    background-color: rgb(53, 63, 73);
    text-align: center;
  }
  .start-info {
    margin-top: 15px;
    color: rgb(106, 179, 79);
    font-size: 20px;
  }
    #reference {
    font-size: 15px;
  }
  
  .error-info{
    margin-top: 25px;
    color: rgb(186, 37, 29);
    font-size: 20px;
  }
  .info {
    margin-top: 10px;
    color: rgb(106, 179, 79);
    font-size: 20px;
  }
  .prompt-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    height: 70px;
    background-color:rgb(4, 28, 4);
  }

  #input {
    color: rgb(106, 179, 79);
    background-color: rgb(4, 28, 4);
    font: "Digi";
    font-size: 40px;
    width: 150px;
    height: 60px;
    text-decoration-color: rgb(106, 179, 79);
    text-align: center;
  }
  #clock {
    width: 145px;
    border: 2px solid;
    border-color: black;
    text-align: center;
    font: "Digi";
    font-size: 40px;
    color: rgb(106, 179, 79);
    background-color: rgb(4, 28, 4);
    padding:10px;
  }
  .startDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 426px;
    border: 2px;
    background-color: rgb(35, 43, 35);
    border: 2px solid;
    border-bottom-color:rgb(49, 48, 48);
    border-left-color:rgb(30, 29, 29);
    border-right-color:rgb(27, 27, 27);
    border-top-color:(41, 40, 40);
    margin-top: 42px;
    margin-left: 122px;
    margin-right: 122px;
  }
  .game-info{
    margin-top: 25px;
  }
  .wire-panel {
  display: flex;
  height: 400px;
  background-color: rgb(50, 54, 51);
  border: 15px solid;
  border-top-color:rgb(40, 39, 39);
  border-left-color: rgb(44, 43, 43);
  border-right-color: rgb(44, 43, 43);
  border-bottom-color: rgb(62, 66, 60);
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 40px;
  flex-direction: row;
  justify-content: center;
  }
  .box {
    margin-top:40px;
    width: 100px;
    height: 100px;
  }
  .btn-start {
    width: 600px;
    height: 50px;
    font-size: 40px;
    color:rgb(98, 52, 51);
    background-color: rgb(93, 102, 98);
    margin-top: 40px;
  }
  
  .invisible {
    visibility: hidden;
  }
  .backgroundInfo {
    color: rgb(151, 151, 151);
  }
  .warningLabel {
    text-align: center;
    margin-top: 5px;
  }
  #warningInfo {
    text-align: justify;
    margin-left: 45px;
    margin-right: 45px;
  }
  .resetBtn {
    height: 50px;
    width: 75px;
    color: rgb(98, 52, 51);
    background-color: rgb(93, 102, 98);
    margin-top: 65px;
    font-weight: bold;
    margin-right: 60px;
    
  }
  .resets {
    font-weight: bold;
    color: rgb(141, 140, 140);
  }
  .leftOfGame {
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  
  .counterBox {
    display: flex;
    height: 60px;
    width: 60px;
    color: rgb(106, 179, 79);
    font-size: 20px;
    background-color:rgb(4, 28, 4);
    font-size: 40px;
    margin-top: 72px;
    align-content: center;
    text-align: center;
    justify-content: center;
    border: 2px solid;
    border-bottom-color: rgb(113, 112, 112);
    border-left-color: rgb(49, 49, 49);
    border-right-color: rgb(49, 49, 49);
    border-top-color: rgb(49, 49, 49);
    
  }
  .mistakeCounter {
    text-align: center;
    margin-top: 8px;
  }
  .row-1 {
    margin-right: 20px;
  }
  .row-2 {
    margin-left: 20px;
  }
  .box-red {
    background-color: rgb(164, 60, 29);
    box-shadow: 0 0 0 1px #f25022 inset, 0 0 0 2px
     rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 
     #c93a12, 0 8px 0 1px rgba(0, 0, 0, 0.4),
     0 8px 8px 1px rgba(0, 0, 0, 0.5);
    transition: 0.15s;
    margin-top: 60px;
  }
  
  .box-red:hover,
  .box-red:focus {
    background-color: rgb(186, 66, 29);
    box-shadow: 0 0 0 1px #ff4400 inset, 0 0 0 2px 
    rgba(225, 225, 225, 0.15) inset, 0 10px 0 0
    #e62b00, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px
    1px rgba(0, 0, 0, 0.6);
    transition: 0.15s;
  }

  .box-red:active,
  .box-red.activated {
    background-color: #ff451a;
    box-shadow: 0 0 0 1px #FF3000 inset, 0 0 0 2px
    rgba(255, 255, 255, 0.15) inset, 0 0 0 1px 
    rgba(0, 0, 0, 0.4);
    transform: translateY(10px);
  }
  
  .box-blue {
    background-color: rgb(28, 117, 173);
    box-shadow: 0 0 0 1px #22bff2 inset, 0 0 0 2px
    rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 
    #10a6bd, 0 8px 0 1px rgba(0, 0, 0, 0.4),
    0 8px 8px 1px rgba(0, 0, 0, 0.5);
   transition: 0.15s;
  }

  .box-blue:hover,
  .box-blue:focus {
    background-color: rgb(23, 141, 200);
    box-shadow: 0 0 0 1px #00b7ff inset, 0 0 0 2px 
    rgba(225, 225, 225, 0.15) inset, 0 10px 0 0
    #00a9e6, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px
    1px rgba(0, 0, 0, 0.6);
    transition: 0.15s;
  }
  .box-blue:active,
  .box-blue.activated {
    background-color: #139ddd;
    box-shadow: 0 0 0 1px #2bbcff inset, 0 0 0 2px 
    rgba(255, 255, 255, 0.15) inset, 0 0 0 1px 
    rgba(0, 0, 0, 0.4);
    transform: translateY(10px);
  }

  .box-green {
    margin-top: 60px;
    background-color: rgb(29, 134, 59);
    box-shadow: 0 0 0 1px #1dcc37 inset, 0 0 0 2px
     rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 
     #0fb647, 0 8px 0 1px rgba(0, 0, 0, 0.4),
     0 8px 8px 1px rgba(0, 0, 0, 0.5);
    transition: 0.15s;
    
  }
  .box-green:hover,
  .box-green:focus {
    background-color:  rgb(72, 142, 31);
    box-shadow: 0 0 0 1px #60cc1d inset, 0 0 0 2px 
    rgba(225, 225, 225, 0.15) inset, 0 10px 0 0
    #57b60f, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px
    1px rgba(0, 0, 0, 0.6);
    transition: 0.15s;
  }
    .box-green:active,
    .box-green.activated {
      box-shadow: 0 0 0 1px #a0ea00 inset, 0 0 0 2px
      rgba(255, 255, 255, 0.15) inset, 0 0 0 1px 
      rgba(0, 0, 0, 0.4);
      background-color: #8cc218;
      transform: translateY(10px);
    }

  .box-yellow {
    background-color: rgb(180, 128, 24);
    box-shadow: 0 0 0 1px #f2ba22 inset, 0 0 0 2px
     rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 
     #c9ae12, 0 8px 0 1px rgba(0, 0, 0, 0.4),
     0 8px 8px 1px rgba(0, 0, 0, 0.5);
    transition: 0.15s;
  }
  .box-yellow:hover,
  .box-yellow:focus {
    background-color:  rgb(213, 155, 39);
    box-shadow: 0 0 0 1px #f2d322 inset, 0 0 0 2px 
    rgba(225, 225, 225, 0.15) inset, 0 10px 0 0
    #c9bd12, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px
    1px rgba(0, 0, 0, 0.6);
    transition: 0.15s;
  }
  .box-yellow:active,
  .box-yellow.activated {
    background-color: #ffb900;
    box-shadow: 0 0 0 1px #ffca3d inset, 0 0 0 2px
    rgba(255, 255, 255, 0.15) inset, 0 0 0 1px 
    rgba(0, 0, 0, 0.4);
    transform: translateY(10px);
  }
  .unclickable {
    pointer-events: none;
  }
  .boom1 {
    background-color: orange;
    height: 800px;
    width: 80000px;
  }
  .boom2 {
    background-color: yellow;
    height: 700px;
    width: 700px;
  }
  .boom3 {
    /* background-color: rgb(39, 38, 38);
    height: 800px; */
    /* width: 1000px; */
    color:rgb(171, 144, 136);
    font-size: 16px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 35%;
  }
  .hidden {
    display: none;
  }